# Supabase Configuration
VITE_SUPABASE_URL=https://pgogmhqjdchakcytsomx.supabase.co
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# LINE Configuration
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
